<div class="main" [style.backgroundImage]="(day=='day')?'url(https://images.unsplash.com/photo-1612298484610-d471490fad01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)'
:'url(https://images.unsplash.com/photo-1549080876-457984b78535?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)'">

  <div class="weather">
    <div class="flex">
      <div class="start">
        <h2>{{weather['name']}}</h2>
        <p>{{date}} &bull; {{time}} &bull; {{day}}</p>
        <h1>{{weather['temp']}}&deg;C</h1>
        <h5>Temperature Range : {{weather['min']}}&deg;C to {{weather['max']}}&deg;C</h5>
      </div>
      <div class="end">
        <img src="http://openweathermap.org/img/wn/01n@2x.png" alt="" srcset="">
        <h4> {{weather['main']}} &bull; {{weather['desc']}}</h4>
      </div>
    </div>
  </div>

  <div class="content">
    <h3>USER DETAILS</h3>

    <div class="profile">
      <div class="details">
        <h5><span>Name : </span> {{user['first_name']}} {{user['last_name']}}</h5>
        <h5><span>Gender :</span>{{user['gender']}} </h5>
        <h5><span>Date of Birth :</span> {{user['date']}} </h5>
        <h5><span>Age :</span> {{user['age']}} years</h5>
        <h5><span>PhoneNumber : </span>+91 {{user['phoneNumber']}}</h5>
      </div>
      <div class="details" style="margin-right: 20px;">
        <h5><span>Pincode : </span>{{user['postal']}}</h5>
        <h5><span>Region : </span> {{user['region']}}</h5>
        <h5><span>District : </span> {{user['district']}}</h5>
        <h5><span>State : </span> {{user['state']}}</h5>
      </div>
    </div>

    <div class="address">
      <h4><span>Address Line :</span>{{user['address']}}</h4>
    </div>

  </div>

</div>
