.main {
  width: 100%;
  /*
  background-image: url("https://images.unsplash.com/photo-1507400492013-162706c8c05e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmlnaHR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-image: url("https://images.unsplash.com/photo-1612298484610-d471490fad01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .weather {
    width: max-content;
    padding: 20px;
    background: #dbf0fa;
    box-shadow: 0 8px 20px 5px rgba(48, 48, 51, 0.37);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    .flex {
      display: flex;
      width: 35vw;
      justify-content: space-between;
      align-items: center;
      .start {
        h2 {
          margin: 0px;
        }
        p {
          margin: 0px;
        }
        h1 {
          margin: 30px 0px 0px 0px;
        }
        h5 {
          margin: 0px;
        }
      }
      .end {
        img {
          float: right;
        }
        h4 {
          margin: 0px;
        }
      }
    }
  }
  .content{
    width: 35%;
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 8px 20px 5px rgba(48, 48, 51, 0.37);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    text-align: center;
    .profile{
      display: flex;
      align-items: center;
      text-align: left;
      justify-content: space-between;
      .details{
        margin-left: 20px;
        span{
          font-weight: 550;
          font-size: 16px;
        }
        h5{
          margin: 0;
          font-size: 15px;
        }
      }
    }
    .address{
      margin-top: 20px;
      text-align:left;
      margin-left: 20px;
      h4{
        font-size: 14px;
        span{
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  .content{
    width: 65% !important;
  }
  .flex{
    width: 65vw !important;
  }
}

@media screen and (max-width: 512px) {
  .content{
    width: 85% !important;
  }
  .flex{
    width: 85vw !important;
  }
}
