.main{
  background: linear-gradient(
    90deg
    , #473e75 0%, #845fb9 100%);
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*animation: rotate 5s infinite ease-in-out alternate;*/
  .flex{
    width: 80%;
    background-color: #fff;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
    .img{
      width: 50%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        object-fit: cover;
      }
    }
    .margin{
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .content{
      width: 50%;
      height: 100%;
      overflow-x: scroll;
      text-align: center;
      padding: 15px 50px;
      box-sizing: border-box;
      h2{
        margin: 10px 0px 20px 0px;
        color: rgb(52, 83, 255);
      }
      // button{
      //   float: right;
      //   margin: -5px 20px 10px 0px;
      //   font-size: 15px;
      //   color: #ffffff;
      //   background-color: rgb(52, 83, 255);
      //   padding: 10px 10px;
      //   box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.178);
      //   border-radius: 4px;
      //   width:max-content;
      //   border: 0;
      //   cursor: pointer;
      //   outline: none;
      // }
      .uploadimg{
        margin: 20px 20px 20px 0px;
        font-size: 15px;
        background-color: #f5f5f5;
        color: black;
        border-radius: 5px;
        width: 95%;
        padding: 10px 10px;
      }
      .form{
        width: 90%;
        padding: 10px 30px;
        mat-form-field{
          width: 100%;
        }
        .col{
          display: flex;
          justify-content: center;
          mat-form-field{
            width: 50%;
          }
          mat-form-field ~ mat-form-field{
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0%{
    background: rgb(49, 238, 96);
  }
  25%{
    background: rgb(49, 131, 238);
  }
  50%{
    background: rgb(136, 52, 245);
  }
  100%{
    background: rgb(240, 65, 65)
  }
}

@media screen and (max-width: 1024px) {
    .img{
      display: none;
    }
    .margin{
      display: none;
    }
    .content{
      width: 100% !important;
      padding: 20px !important;
    }
}

@media screen and (max-width: 512px) {
  .img{
    display: none;
  }
  .margin{
    display: none;
  }
  .content{
    width: 100% !important;
    padding: 15px !important;
    .col{
      display: block !important;
      mat-form-field{
        width: 100% !important;
      }
      mat-form-field ~ mat-form-field{
        margin-left: 0px !important;
      }
    }
  }
}
