<div class="main">
  <div class="flex">
    <div class="img">
      <img
        src="https://mindsparklemag.com/wp-content/uploads/2018/02/Flora-Illustration-3D-Design-mindsparkle-mag-3.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="margin"></div>
    <div class="content">
      <h2>Register Now</h2>
      <form class="form" [formGroup]="form" (ngSubmit)="save()">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input
              matInput
              value=""
              placeholder="enter first name"
              type="text"
              formControlName="first_name"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              value=""
              placeholder="enter last name"
              type="text"
              formControlName="last_name"
              required
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-hint matPrefix>+91&nbsp;&nbsp;</mat-hint>
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              value=""
              placeholder="enter number"
              maxlength="10"
              formControlName="phoneNumber"
              required
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Choose DOB</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="date"
              required
              (keyup) = "calAge()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="calAge()"
                  matDatepickerApply
                >
                  Apply
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="age">
            <mat-label>Age</mat-label>
            <input
              matInput
              value=""
              placeholder="enter Age"
              type="number"
              formControlName="age"
              required
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input
              required
              matInput
              (keyup)="onPostalCodeChange($event)"
              #postalCode
              maxlength="6"
              formControlName="postal"
              placeholder="Ex. 532501"
              value=""
            />
            <mat-hint matSuffix>{{ postalCode.value.length }} / 6</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>District</mat-label>
            <input
              matInput
              placeholder="Ex. Hyd"
              formControlName="district"
              required
              #district
            />
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Region</mat-label>
            <input
              matInput
              placeholder="Ex. San"
              required
              #region
              formControlName="region"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input
              matInput
              placeholder="Ex. California"
              required
              #state
              formControlName="state"
            />
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Address</mat-label>
          <textarea
            matInput
            placeholder="Ex. 100 Main St"
            formControlName="address"
            required
          ></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <input
          type="file"
          id="image"
          class="uploadimg"
          accept="image/x-png,image/gif,image/jpeg"
        />
        <button type="submit" mat-raised-button [disabled]="!form.valid" color="primary">REGISTER NOW</button>
      </form>
    </div>
  </div>
</div>
